USE [master]
GO
/****** Object:  Database [DBTAREA]    Script Date: 16/10/2023 9:25:58 ******/
CREATE DATABASE [DBTAREA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBTAREA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBTAREA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBTAREA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBTAREA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBTAREA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBTAREA]
GO
/****** Object:  Table [dbo].[Tarea]    Script Date: 16/10/2023 9:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarea](
	[IdTarea] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Estado] [varchar](100) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tarea] ON 

INSERT [dbo].[Tarea] ([IdTarea], [Descripcion], [Estado], [FechaRegistro]) VALUES (6, N'Reunion', N'En Progreso', CAST(N'2023-10-15T16:14:21.463' AS DateTime))
INSERT [dbo].[Tarea] ([IdTarea], [Descripcion], [Estado], [FechaRegistro]) VALUES (7, N'Atender Clientes', N'En Progreso', CAST(N'2023-10-15T17:22:04.193' AS DateTime))
INSERT [dbo].[Tarea] ([IdTarea], [Descripcion], [Estado], [FechaRegistro]) VALUES (12, N'Regar Plantas', N'Completado', CAST(N'2023-10-15T20:54:20.470' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tarea] OFF
GO
ALTER TABLE [dbo].[Tarea] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
USE [master]
GO
